 .open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
    font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.color{
    color: #4E47FF;
} 
*{
    margin: 0;
    padding: 0; 
    
} 
main{
    max-width: 1140px;
    margin: 0 auto; 
    
}
.header{
    background-image: url('../Assets/Hero-bg.png');
    background-position: center;
    background-size: cover;
     height: 100dvh; 
}
nav{
    display: flex;
    font-size: larger;
    align-items: center;
    justify-content: space-between;
     margin: 0px 150px;
     padding: 50px 0;
    
} 
.logo{
    font-size: 34px;
    
    
} 
nav ul li {
list-style: none;
margin-right: 150px;
} 
.btn-style{
    background-color:#4E47FF ;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
} 
.bth{
    padding-top: 71px;

} 
.btn1{
    padding-top: 37px;
}
.banner{
    text-align: center;
    margin: 309px 256px 152px;
    
    
} 
 .description{ 
    font-size: 65px;
    font-weight: bold;
} 
.action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 220px;
    margin-top: 95px;
    /* margin-right: 159px; */
    /* margin-left: 141px; */
} 
.see{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.explore{
    font-size: 24px;
    color: #252432;
    height: 60px;
    width: 517px; 
    padding-top: 23px;
    
}
img{
    height: 328px;
    width: 403px;
    border-radius: 48px;
}


.joined{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
} 
.joined-section{
    border-radius: 24px;
    background-color: #bcbbec;
    text-align: center;
    padding: 50px 142px;
    margin-top: 116px;
    
    
} 
.about-items{
    display: flex;
    justify-content: space-between;
    padding: 40px 142px 50px;
}
.item-title{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    gap: 158px;
} 
.feedback-contaier{
     display: flex; 
     gap: 24px; 
     margin-top: 50px; 
    
} 
.avatar{
    width: 40px;
    height:40px ;
    border-radius: 50%;
} 
.feedback{
     border-radius: 14px; 
     background-color: #F2EDED; 
     padding: 24px; 
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: left;
} 
.feedback h4 {
  font-size: 20px;
  color: #252432;
  margin-bottom: 16px;
}
.feedback-content{
    text-align: center;
    margin-top: 126px;
    padding: 0 150px;
} 
 .feedback.highlight { 
    padding: 24px; 
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: left;
    background-color: #F2EDED;
}
.comment {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}
.stars {
  font-size: 20px;
  color: #FFD700; 
  margin-top: 12px;
  padding: ;
}
.what-i-do{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
} 
.ready-future{
    text-align: center;
    background-color: #f7ecec;
    margin-top: 70px;
     padding: 71px 150px; 
     gap: 20px;
     border-radius: 14px;
} 
.ready-focus{
    font-weight: bold;
    font-size: 50px;
   
} 
.big{
    width: 840px;
    height: 364.77px;
    border-radius: 48px;
    padding-top: 20px;
} 
.bth2{
    padding-top: 20px;
    padding-bottom: 20px;
} 
 .lets-go { 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    margin-top: 110.23px; 
    /* margin-left: 159px; */
    /* margin-right: 141px; */
}



.form-head {
    font-weight: bold;
    font-size: 80px;
    color: #252432;
}



label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
}

.input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: box-shadow 0.3s ease;
    
}

.input1 {
    min-height: 120px;
    resize: vertical;
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: box-shadow 0.3s ease;
}

.placeholder::placeholder {
    color: #888;
    font-style: italic;
}

.btn-style2 {
   background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 14px; 
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 19px;
    
    
} 


.btn-style2:hover {
    background-color: #3c39cc;
}

.bth {
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 80px 0;
    margin: 104px 455px;
} 
footer h2{
    font-size: 50px;
    font-weight: 700;
    color: #4E47FF;
    margin-bottom: 20px;
} 
footer ul{
    list-style: none;
    margin-top: 20px;
    padding: 0;
    display: inline-block;
    
} 
footer ul li {
    display: inline-block;
    margin: 0 15px;
}
footer ul li a {
    text-decoration: none;
    color: #555;
}



